:root{
  --gfdColour: #001e47;
  --gfdBackgroundcolour: #edeff0;
}

body{
  margin: 128px;
}

table{
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

tr{
  max-height: 40px;
}

tr:nth-child(even), tr:nth-child(even) input, tr:nth-child(even) select{
  background-color: #fff;
}

tr:nth-child(odd), tr:nth-child(odd) input, tr:nth-child(odd) select{
  background-color: var(--gfdBackgroundcolour);
}

tr input, tr select{
  border-bottom: 2px var(--gfdColour) solid;
}

th{
  background-color: var(--gfdColour);
  color: #fff;
  text-align: left;
}

th:first-child{
  border-radius: 6px 0px 0px 0px;
}

th:nth-child(5){
  border-radius: 0px 6px 0px 0px;
  width: 100px;
  text-align: center;
}

th, td{
  padding: 16px;
}

input, select, option{
  border: none;
  border-bottom: 2px var(--gfdBackgroundcolour) solid;
  height: 25px;
  border-radius: 4px 4px 0px 0px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 4px;
  min-width: 190px;
  bottom: -1px;
  left: -4px;
  position: relative;
}

select{
height: 35px;
left: -8px;
}

select:hover, option:hover{
  cursor: pointer;
}

input:focus-visible, select:focus-visible{
  outline: none;
}

input:focus, select:focus-visible{
  border-bottom: 2px var(--gfdColour) solid;
}

button{
  display: block;
  color: var(--gfdColour);
  padding: 12px 32px;
  border-radius: 3px;
  border: 1px solid var(--gfdColour);
  background-color: #fff;
  width: 96px;
  font-size: 12px;
  transition: all .2s ease-in-out;
  text-decoration: none;
  transition: all .2s ease;
}

.save{
  background-color: #fff;
  color: var(--gfdColour);
  cursor: pointer;
}

button:hover{
  cursor: pointer;
  background-color: var(--gfdColour);
  color: #fff;
  transform: scale(1.1);
}