:root{
  --gfdColour: #001e47;
  --gfdBackgroundcolour: #edeff0;
}

body{
  margin: 32px;
}

table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th{
  background-color: var(--gfdColour);
  color: #fff;
  text-align: left;
}

th:first-child{
  border-radius: 6px 0px 0px 0px;
}

th:nth-child(4){
  border-radius: 0px 6px 0px 0px;
}

th, td{
  padding: 16px;
}

td{
  background-color: var(--gfdBackgroundcolour);
}